## Analyzing borrowers’ risk of defaulting

The project is to prepare a simple report for a bank’s loan division. We will find out if a customer’s marital status and number of children has an impact on whether they will default on a loan. We will use existing data that the bank already has in regards to customers’ credit worthiness.

### Open the data file and have a look at the general information.

In [1]:
import pandas as pd 
data = pd.read_csv('credit_scoring_eng.csv')
data.info()
#print (data.head(15))
print (data.sample(15))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
       children  days_employed  dob_years            education  education_id  \
2692          1    -131.876565         40  secondary education             1
2702          2    -424.959618         28  secondary education             1
11298         0  345640.870894         52    bachelor's degree             0
16764         0  344869.477614         56    Bachelor's Degree             0
3929          0    -622.798160         39  secondary education             1
18001         1   -2538.122378         30    bachelor's degree             0
11789         0    -317.428257         48    Bachelor's Degree             0
9025          2    -185.478825         31  secondary education             1
21121         0    -267.244296         45  secondary education             1
99            0  346541.618895          0  Secondary Education             1
8429          1   -2510.694486         25    bachelor's degree             0
12941         0            NaN         61  secondary education             1
15768         2    -869.953833         36  secondary education             1
10193         0   -1373.755279         41  secondary education             1
15209         0   -3118.594175         62    Bachelor's Degree             0

           family_status  family_status_id gender    income_type  debt  \
2692   civil partnership                 1      M       employee     0
2702             married                 0      F       employee     1
11298    widow / widower                 2      F        retiree     0
16764            married                 0      M        retiree     0
3929   civil partnership                 1      M       employee     0
18001            married                 0      F  civil servant     0
11789          unmarried                 4      F       employee     0
9025             married                 0      M       business     0
21121            married                 0      M       employee     0
99               married                 0      F        retiree     0
8429             married                 0      F  civil servant     0
12941          unmarried                 4      F       employee     0
15768            married                 0      F       employee     0
10193  civil partnership                 1      M  civil servant     0
15209          unmarried                 4      F       employee     0

       total_income                           purpose
2692      23655.611                  having a wedding
2702      17065.405          purchase of my own house
11298     15700.876  to get a supplementary education
16764     17498.690               going to university
3929      61903.256              getting an education
18001     17799.694  transactions with my real estate
11789     40395.080      construction of own property
9025      25269.893             purchase of the house
21121     11059.764        buy commercial real estate
99        11406.644                               car
8429      12515.537          real estate transactions
12941           NaN          second-hand car purchase
15768      9757.902                 buying my own car
10193     16564.135               building a property
15209     27948.720          getting higher education

## Conclusion

- Variable types look fine 

## Observations: 
- **days_employed**, why do we have a value which is positive while all the rest are negative? how come?
- **eduction**, looks like some capitalization differences between values e.g. Secondary Education, secondary education & SECONDARY EDUCATION. Also, BACHELOR'S DEGREE & bachelor's degree.
- **total_income**, observe a NaN for a retiree, do we want to keep it as is?
- **debt** variable of whether a customer defaulted on a loan is okay but why not more qualititive? are all defaulters the same? 
- **purpose** a lot of non unique category value such as: 'buying my own car', 'purchase of a car', 'to own a car' or 'cars'

### Data preprocessing

### Processing missing values

In [3]:
nulls = data.isnull().sum()

print (nulls)
# 'days_employed' & 'total_income' have nulls, why?

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [4]:

print(data[data['days_employed'].isnull()])

# do not observe a pattern such as all unemployes equals retiree.
#'income_type' is not exclusively business / retiree but also 'employee'

       children  days_employed  dob_years            education  education_id  \
12            0            NaN         65  secondary education             1
26            0            NaN         41  secondary education             1
29            0            NaN         63  secondary education             1
41            0            NaN         50  secondary education             1
55            0            NaN         54  secondary education             1
...         ...            ...        ...                  ...           ...
21489         2            NaN         47  Secondary Education             1
21495         1            NaN         50  secondary education             1
21497         0            NaN         48    BACHELOR'S DEGREE             0
21502         1            NaN         42  secondary education             1
21510         2            NaN         28  secondary education             1

           family_status  family_status_id gender    income_type  debt  \
12     civil partnership                 1      M        retiree     0
26               married                 0      M  civil servant     0
29             unmarried                 4      F        retiree     0
41               married                 0      F  civil servant     0
55     civil partnership                 1      F        retiree     1
...                  ...               ...    ...            ...   ...
21489            married                 0      M       business     0
21495  civil partnership                 1      F       employee     0
21497            married                 0      F       business     0
21502            married                 0      F       employee     0
21510            married                 0      F       employee     0

       total_income                   purpose
12              NaN         to have a wedding
26              NaN                 education
29              NaN    building a real estate
41              NaN  second-hand car purchase
55              NaN         to have a wedding
...             ...                       ...
21489           NaN         purchase of a car
21495           NaN          wedding ceremony
21497           NaN       building a property
21502           NaN    building a real estate
21510           NaN              car purchase

[2174 rows x 12 columns]

In [5]:
print(data[data['total_income'].isnull()])

# no different pattern apart from the fact it looks like it matches with the 'days_employed' (as well as the number of nullS)

       children  days_employed  dob_years            education  education_id  \
12            0            NaN         65  secondary education             1
26            0            NaN         41  secondary education             1
29            0            NaN         63  secondary education             1
41            0            NaN         50  secondary education             1
55            0            NaN         54  secondary education             1
...         ...            ...        ...                  ...           ...
21489         2            NaN         47  Secondary Education             1
21495         1            NaN         50  secondary education             1
21497         0            NaN         48    BACHELOR'S DEGREE             0
21502         1            NaN         42  secondary education             1
21510         2            NaN         28  secondary education             1

           family_status  family_status_id gender    income_type  debt  \
12     civil partnership                 1      M        retiree     0
26               married                 0      M  civil servant     0
29             unmarried                 4      F        retiree     0
41               married                 0      F  civil servant     0
55     civil partnership                 1      F        retiree     1
...                  ...               ...    ...            ...   ...
21489            married                 0      M       business     0
21495  civil partnership                 1      F       employee     0
21497            married                 0      F       business     0
21502            married                 0      F       employee     0
21510            married                 0      F       employee     0

       total_income                   purpose
12              NaN         to have a wedding
26              NaN                 education
29              NaN    building a real estate
41              NaN  second-hand car purchase
55              NaN         to have a wedding
...             ...                       ...
21489           NaN         purchase of a car
21495           NaN          wedding ceremony
21497           NaN       building a property
21502           NaN    building a real estate
21510           NaN              car purchase

[2174 rows x 12 columns]

In [6]:
#switch income_type of nulls to 'other' in order not to let the missing values ruin the averages later on

data.loc[data['total_income'].isnull(),'income_type'] = 'other'
print (data['income_type'].value_counts())

print(data[data['days_employed'].isnull()])

employee                       10014
business                        4577
retiree                         3443
other                           2174
civil servant                   1312
unemployed                         2
student                            1
paternity / maternity leave        1
entrepreneur                       1
Name: income_type, dtype: int64
       children  days_employed  dob_years            education  education_id  \
12            0            NaN         65  secondary education             1
26            0            NaN         41  secondary education             1
29            0            NaN         63  secondary education             1
41            0            NaN         50  secondary education             1
55            0            NaN         54  secondary education             1
...         ...            ...        ...                  ...           ...
21489         2            NaN         47  Secondary Education             1
21495         1            NaN         50  secondary education             1
21497         0            NaN         48    BACHELOR'S DEGREE             0
21502         1            NaN         42  secondary education             1
21510         2            NaN         28  secondary education             1

           family_status  family_status_id gender income_type  debt  \
12     civil partnership                 1      M       other     0
26               married                 0      M       other     0
29             unmarried                 4      F       other     0
41               married                 0      F       other     0
55     civil partnership                 1      F       other     1
...                  ...               ...    ...         ...   ...
21489            married                 0      M       other     0
21495  civil partnership                 1      F       other     0
21497            married                 0      F       other     0
21502            married                 0      F       other     0
21510            married                 0      F       other     0

       total_income                   purpose
12              NaN         to have a wedding
26              NaN                 education
29              NaN    building a real estate
41              NaN  second-hand car purchase
55              NaN         to have a wedding
...             ...                       ...
21489           NaN         purchase of a car
21495           NaN          wedding ceremony
21497           NaN       building a property
21502           NaN    building a real estate
21510           NaN              car purchase

[2174 rows x 12 columns]

In [7]:
#fill nulls with 0 so we can work with the data
data['days_employed'] = data['days_employed'].fillna(0)
data['total_income'] = data['total_income'].fillna(0)

In [8]:
#test
print (data.isnull().sum())

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [9]:
print (data['dob_years'].describe())

#looks like we have some year values which are 'zero' based on 'Min'

print(data[(data['dob_years'] < 15) & (data['dob_years'] > 1)])

#no values which are above it, so it's not "wrong" values but actually missing values
#those values below could be replaced, it's not critical since we do not plan to use them further anyways this time
#the ideal way would be to replace with random values based on the distribution of the correct data
#that being said, a mean value is a simpler approach that will also make an improvement from current situation of 0's
#and is more than enough for our specific analysis

print(data[data['dob_years'] == 0])

count    21525.000000
mean        43.293380
std         12.574584
min          0.000000
25%         33.000000
50%         42.000000
75%         53.000000
max         75.000000
Name: dob_years, dtype: float64
Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []
       children  days_employed  dob_years            education  education_id  \
99            0  346541.618895          0  Secondary Education             1
149           0   -2664.273168          0  secondary education             1
270           3   -1872.663186          0  secondary education             1
578           0  397856.565013          0  secondary education             1
1040          0   -1158.029561          0    bachelor's degree             0
...         ...            ...        ...                  ...           ...
19829         0       0.000000          0  secondary education             1
20462         0  338734.868540          0  secondary education             1
20577         0  331741.271455          0  secondary education             1
21179         2    -108.967042          0    bachelor's degree             0
21313         0   -1268.487728          0  secondary education             1

      family_status  family_status_id gender income_type  debt  total_income  \
99          married                 0      F     retiree     0     11406.644
149        divorced                 3      F    employee     0     11228.230
270         married                 0      F    employee     0     16346.633
578         married                 0      F     retiree     0     15619.310
1040       divorced                 3      F    business     0     48639.062
...             ...               ...    ...         ...   ...           ...
19829       married                 0      F       other     0         0.000
20462       married                 0      F     retiree     0     41471.027
20577     unmarried                 4      F     retiree     0     20766.202
21179       married                 0      M    business     0     38512.321
21313     unmarried                 4      M    employee     0     24387.070

                            purpose
99                              car
149            housing transactions
270              housing renovation
578    construction of own property
1040                   to own a car
...                             ...
19829                       housing
20462      purchase of my own house
20577                      property
21179        building a real estate
21313          housing transactions

[101 rows x 12 columns]

In [10]:
#replacing values with mean:

data.loc[data['dob_years'] == 0,'dob_years'] = data['dob_years'].mean()

#check that min values has changed:

print (data['dob_years'].describe())

count    21525.000000
mean        43.496522
std         12.218174
min         19.000000
25%         34.000000
50%         43.000000
75%         53.000000
max         75.000000
Name: dob_years, dtype: float64

In [11]:
print (data['children'].describe())

print (data[data['children'] < 0])

# See values of -1 Children, must be corrupted somehow

# No patterns in the data, everything else is complete so it would be ideal to get rid of it

# Ideally find a way so it will not skew the number of children analysis

# Either to switch with N/A or leave as -1 and make sure to take it our in affected calculations such as mean

# with the default rate we can just ignore this group and it will not do any harm

# if we chose to use correlation functions then it would have been an issue

count    21525.000000
mean         0.538908
std          1.381587
min         -1.000000
25%          0.000000
50%          0.000000
75%          1.000000
max         20.000000
Name: children, dtype: float64
       children  days_employed  dob_years            education  education_id  \
291          -1   -4417.703588       46.0  secondary education             1
705          -1    -902.084528       50.0  secondary education             1
742          -1   -3174.456205       57.0  secondary education             1
800          -1  349987.852217       54.0  secondary education             1
941          -1       0.000000       57.0  Secondary Education             1
1363         -1   -1195.264956       55.0  SECONDARY EDUCATION             1
1929         -1   -1461.303336       38.0  secondary education             1
2073         -1   -2539.761232       42.0  secondary education             1
3814         -1   -3045.290443       26.0  Secondary Education             1
4201         -1    -901.101738       41.0  secondary education             1
4402         -1  398001.302888       64.0  SECONDARY EDUCATION             1
4542         -1   -1811.899756       32.0  secondary education             1
5272         -1   -1143.485347       46.0  secondary education             1
6013         -1   -1361.258696       46.0    bachelor's degree             0
6385         -1  370215.476226       48.0  secondary education             1
7190         -1   -5928.202068       34.0  SECONDARY EDUCATION             1
7278         -1    -526.318451       51.0  secondary education             1
7615         -1       0.000000       35.0  secondary education             1
7685         -1   -3237.360455       53.0  secondary education             1
8229         -1   -1803.441074       54.0    bachelor's degree             0
8251         -1   -3113.998449       31.0  secondary education             1
8561         -1    -195.479496       31.0  secondary education             1
9565         -1   -2896.629686       34.0    bachelor's degree             0
9574         -1   -2710.419901       28.0    bachelor's degree             0
10177        -1   -1743.604011       37.0  secondary education             1
10365        -1  345774.125957       63.0    BACHELOR'S DEGREE             0
10918        -1  340499.039342       50.0  secondary education             1
11109        -1   -3438.463024       59.0  secondary education             1
11268        -1   -1048.782203       30.0    bachelor's degree             0
11617        -1    -370.827130       27.0  secondary education             1
12304        -1   -8493.101252       61.0         some college             2
13786        -1       0.000000       42.0  secondary education             1
14357        -1    -268.337037       23.0  secondary education             1
15147        -1   -9851.184337       44.0  secondary education             1
15435        -1   -3614.220232       40.0    bachelor's degree             0
16129        -1    -457.861760       33.0  secondary education             1
16265        -1   -2802.218127       40.0    bachelor's degree             0
17095        -1   -2809.693200       34.0  secondary education             1
17429        -1    -895.379738       37.0  secondary education             1
17657        -1   -4571.957475       41.0  secondary education             1
18219        -1   -3575.215641       33.0  secondary education             1
19100        -1    -617.246968       38.0  secondary education             1
19366        -1    -372.034749       43.0  SECONDARY EDUCATION             1
19417        -1  350340.760224       28.0  secondary education             1
20393        -1  355157.107212       69.0  secondary education             1
20717        -1    -661.822321       32.0    bachelor's degree             0
21140        -1   -1422.668059       44.0  secondary education             1

           family_status  family_status_id gender    income_type  debt  \
291    civil partnership                 1      F       employee     0
705              married                 0      F  civil servant     0
742              married                 0      F       employee     0
800            unmarried                 4      F        retiree     0
941              married                 0      F          other     0
1363             married                 0      F       business     0
1929           unmarried                 4      M       employee     0
2073            divorced                 3      F       business     0
3814   civil partnership                 1      F  civil servant     0
4201             married                 0      F  civil servant     0
4402             married                 0      F        retiree     0
4542             married                 0      F       employee     0
5272     widow / widower                 2      F       employee     0
6013             married                 0      F       employee     0
6385     widow / widower                 2      F        retiree     0
7190             married                 0      M       employee     0
7278             married                 0      F       employee     0
7615             married                 0      M          other     0
7685     widow / widower                 2      F       employee     0
8229             married                 0      F       business     0
8251   civil partnership                 1      F       employee     0
8561             married                 0      F       employee     0
9565             married                 0      M       employee     0
9574             married                 0      M  civil servant     0
10177            married                 0      M       employee     0
10365    widow / widower                 2      F        retiree     0
10918            married                 0      M        retiree     0
11109            married                 0      F       employee     0
11268  civil partnership                 1      F       business     0
11617            married                 0      F       business     0
12304            married                 0      M       employee     0
13786          unmarried                 4      M          other     0
14357           divorced                 3      F       business     0
15147           divorced                 3      F       employee     0
15435  civil partnership                 1      F       employee     0
16129            married                 0      F       employee     1
16265            married                 0      M       employee     0
17095            married                 0      F       employee     0
17429            married                 0      F       business     0
17657            married                 0      F       employee     0
18219            married                 0      F       employee     0
19100          unmarried                 4      M       employee     0
19366            married                 0      M       employee     0
19417           divorced                 3      F        retiree     0
20393          unmarried                 4      F        retiree     0
20717            married                 0      F       employee     0
21140            married                 0      F       business     0

       total_income                                   purpose
291       16450.615                         profile education
705       22061.264                              car purchase
742       10282.887                   supplementary education
800       13806.996                   supplementary education
941           0.000                         buying my own car
1363      11128.112                         profile education
1929      17459.451                     purchase of the house
2073      26022.177                     purchase of the house
3814      21102.846                          having a wedding
4201      36220.123          transactions with my real estate
4402      26122.250                           buy real estate
4542      25687.155                                 education
5272      44593.283                           buy real estate
6013      22881.353              construction of own property
6385       5768.392                                 education
7190      29490.420                              car purchase
7278      23508.603  transactions with commercial real estate
7615          0.000                                 education
7685      25548.188                    building a real estate
8229      22209.453                           buy real estate
8251       8705.929                              to own a car
8561      23292.461                        housing renovation
9565      20280.745                  real estate transactions
9574      48501.946          to get a supplementary education
10177     49658.801                      getting an education
10365     27322.040                    building a real estate
10918     27322.044                  purchase of my own house
11109     35179.842                      housing transactions
11268     51456.592                              to buy a car
11617     26334.602           buying property for renting out
12304     50400.989                                  property
13786         0.000                                       car
14357     14761.213               buy residential real estate
15147     17758.530                              to own a car
15435     15700.406                         to have a wedding
16129     23942.573                                       car
16265     17917.516                     purchase of the house
17095     29207.022                  buying a second-hand car
17429     34370.243                                   housing
17657     19536.867          transactions with my real estate
18219     20537.924                      university education
19100     19552.880                    building a real estate
19366     24894.203                  second-hand car purchase
19417      8459.679                                      cars
20393     18643.367                  real estate transactions
20717     21984.862               buy residential real estate
21140     27129.935          transactions with my real estate

### Conclusion

- two columns ('total_income' & 'days_employed') has some rows with null values, which were switched to 0.
- It is unclear whether we are missing the data or it should have been 0, so we choose to re-categorize the total_income null rows to a different 'income_type' - so nulls becoming zeros will not affect our calculation later on
- We could potentially make similar assumption with 'days_employed' but choose not to change it's category since we do not plan to check correlation with it later on (unlike income level) 
- 'dob_years' has missing values of 0 - chose the replace with mean which is more than enough for our current situation in which we do not plan to use it. Switched just in case we will want to make some calculation, it will make sure the data is not skewed due to the 0's.

### Fixing Capitalization

In [12]:
data['education'] = data['education'].str.lower()

print (data['education'].value_counts())

secondary education    15233
bachelor's degree       5260
some college             744
primary education        282
graduate degree            6
Name: education, dtype: int64

### Data type replacement

In [13]:
#days employeed doesn't make sense, upon examination of data looks like we need to change signs.
#In addition, in order to make it easier to work with, we add another column of 'years_employeed'

data['years_employed'] = (data['days_employed'] * -1) / 365

print (data['years_employed'].describe())

print (data.sample(10))


#some values doesn't make sense - e.g.  366756.592599 days employeed which effectively means 1004 years
#question is whether it is time effective to investgate further or delete unrealistic values
#since this variable is not going to be used further in our specific analysis, it is not time effective to deal with it

count    21525.000000
mean      -155.284588
std        369.508940
min      -1100.699727
25%         -0.000000
50%          2.691868
75%          6.899093
max         50.380685
Name: years_employed, dtype: float64
       children  days_employed  dob_years            education  education_id  \
3197          0   -1598.597777       54.0  secondary education             1
16617         0  355323.891557       48.0    bachelor's degree             0
11584         1       0.000000       53.0  secondary education             1
10153         0   -5916.181617       68.0  secondary education             1
12643         2   -3822.733633       41.0  secondary education             1
16537         0       0.000000       33.0  secondary education             1
7159          1       0.000000       61.0  secondary education             1
1447          0   -1980.262882       29.0  secondary education             1
19473         0    -351.433552       64.0    bachelor's degree             0
10682         0   -2667.914552       26.0    bachelor's degree             0

           family_status  family_status_id gender    income_type  debt  \
3197             married                 0      M       business     0
16617            married                 0      F        retiree     0
11584            married                 0      F          other     0
10153          unmarried                 4      F       employee     0
12643           divorced                 3      F       employee     0
16537            married                 0      M          other     0
7159             married                 0      F          other     0
1447             married                 0      M       employee     0
19473    widow / widower                 2      M       employee     0
10682  civil partnership                 1      F  civil servant     0

       total_income                   purpose  years_employed
3197      31182.820     purchase of the house        4.379720
16617     60693.342              car purchase     -973.490114
11584         0.000                  property       -0.000000
10153     13439.134  getting higher education       16.208717
12643     15272.213   supplementary education       10.473243
16537         0.000        housing renovation       -0.000000
7159          0.000      housing transactions       -0.000000
1447      18814.417              car purchase        5.425378
19473     55230.308           buy real estate        0.962832
10682     10593.204         purchase of a car        7.309355

In [14]:
#debt should be boolean instead of int
#days_employed has negatives, is it supposed to be a date?
#ideally, maybe 'dob_years' should be a float instead of int (though we can't change the data now)
#should we turn gender, income_type, purpose to 'category' data type?

data['debt'] = data['debt'].astype('bool')
data['gender'] = data['gender'].astype('category')
data['education'] = data['education'].astype('category')
data['family_status'] = data['family_status'].astype('category')
data['income_type'] = data['income_type'].astype('category')
data['purpose'] = data['purpose'].astype('category')
data.info()
print (data.sample())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 13 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null float64
education           21525 non-null category
education_id        21525 non-null int64
family_status       21525 non-null category
family_status_id    21525 non-null int64
gender              21525 non-null category
income_type         21525 non-null category
debt                21525 non-null bool
total_income        21525 non-null float64
purpose             21525 non-null category
years_employed      21525 non-null float64
dtypes: bool(1), category(5), float64(4), int64(3)
memory usage: 1.3 MB
       children  days_employed  dob_years          education  education_id  \
10800         3   -4677.803335       42.0  bachelor's degree             0

      family_status  family_status_id gender income_type   debt  total_income  \
10800       married                 0      M    employee  False     41339.204

                 purpose  years_employed
10800  profile education         12.8159

### Processing duplicates

In [15]:
#checking if it exists
#print (data.duplicated().sum())
#exists, could be due to various systems we pull the data from and they are not all syncronized 
#preferebaly to remove those.

data = data.drop_duplicates().reset_index(drop=True)

print (data.duplicated().sum())
print (data.head(20))

#no duplicates now and index has been resetted

0
    children  days_employed  dob_years            education  education_id  \
0          1   -8437.673028       42.0    bachelor's degree             0
1          1   -4024.803754       36.0  secondary education             1
2          0   -5623.422610       33.0  secondary education             1
3          3   -4124.747207       32.0  secondary education             1
4          0  340266.072047       53.0  secondary education             1
5          0    -926.185831       27.0    bachelor's degree             0
6          0   -2879.202052       43.0    bachelor's degree             0
7          0    -152.779569       50.0  secondary education             1
8          2   -6929.865299       35.0    bachelor's degree             0
9          0   -2188.756445       41.0  secondary education             1
10         2   -4171.483647       36.0    bachelor's degree             0
11         0    -792.701887       40.0  secondary education             1
12         0       0.000000       65.0  secondary education             1
13         0   -1846.641941       54.0         some college             2
14         0   -1844.956182       56.0    bachelor's degree             0
15         1    -972.364419       26.0  secondary education             1
16         0   -1719.934226       35.0  secondary education             1
17         0   -2369.999720       33.0    bachelor's degree             0
18         0  400281.136913       53.0  secondary education             1
19         0  -10038.818549       48.0  secondary education             1

        family_status  family_status_id gender income_type   debt  \
0             married                 0      F    employee  False
1             married                 0      F    employee  False
2             married                 0      M    employee  False
3             married                 0      M    employee  False
4   civil partnership                 1      F     retiree  False
5   civil partnership                 1      M    business  False
6             married                 0      F    business  False
7             married                 0      M    employee  False
8   civil partnership                 1      F    employee  False
9             married                 0      M    employee  False
10            married                 0      M    business  False
11            married                 0      F    employee  False
12  civil partnership                 1      M       other  False
13            married                 0      F    employee  False
14  civil partnership                 1      F    business   True
15            married                 0      F    employee  False
16            married                 0      F    employee  False
17  civil partnership                 1      M    employee  False
18    widow / widower                 2      F     retiree  False
19           divorced                 3      F    employee  False

    total_income                              purpose  years_employed
0      40620.102                purchase of the house       23.116912
1      17932.802                         car purchase       11.026860
2      23341.752                purchase of the house       15.406637
3      42820.568              supplementary education       11.300677
4      25378.572                    to have a wedding     -932.235814
5      40922.170                purchase of the house        2.537495
6      38484.156                 housing transactions        7.888225
7      21731.829                            education        0.418574
8      15337.093                     having a wedding       18.985932
9      23108.150  purchase of the house for my family        5.996593
10     18230.959                      buy real estate       11.428722
11     12331.077           buy commercial real estate        2.171786
12         0.000                    to have a wedding       -0.000000
13     20873.317                         car purchase        5.059293
14     26420.466          buy residential real estate        5.054674
15     18691.345         construction of own property        2.664012
16     46272.433                             property        4.712149
17     14465.694                  building a property        6.493150
18      9091.804             buying a second-hand car    -1096.660649
19     38852.977                    buying my own car       27.503612

In [16]:
#only a few 'graduate degree' values doesn't make sense not to combine with 'secondary education'
data['education'] = data['education'].replace('graduate degree','secondary education')

### Categorizing Data

In [17]:
#dealing with the 'purpose' column
temp = data['purpose'].value_counts()
print (temp)
#results show we better use lemmatization or stemming to properly categorize 
#or manually use rule based since there are not as many categories

wedding ceremony                            788
to have a wedding                           764
having a wedding                            764
real estate transactions                    674
buy commercial real estate                  658
housing transactions                        651
buying property for renting out             650
transactions with commercial real estate    649
purchase of the house                       646
housing                                     643
purchase of the house for my family         636
construction of own property                634
property                                    630
transactions with my real estate            626
building a real estate                      623
building a property                         618
purchase of my own house                    617
buy real estate                             617
housing renovation                          604
buy residential real estate                 604
buying my own car                           505
car                                         494
going to university                         494
second-hand car purchase                    484
buying a second-hand car                    478
cars                                        477
to own a car                                476
to buy a car                                471
car purchase                                460
supplementary education                     460
purchase of a car                           455
university education                        451
education                                   447
to get a supplementary education            444
getting an education                        441
profile education                           434
getting higher education                    425
to become educated                          406
Name: purpose, dtype: int64

In [18]:
# tried to use lemmatizer but did not figure it out
#decided to stick with the simpler approach above for now 

# import nltk
# from nltk.stem import WordNetLemmatizer
# wordnet_lemma = WordNetLemmatizer()
# data['lemma_purpose'] = data['purpose']

# for word in data['purpose']:
#     words = nltk.word_tokenize(word)
#    #lemmas = ' '.join([wordnet_lemma.lemmatize(w, pos = 'n') for w in words])
#     data['lemma_purpose'] = data['lemma_purpose'].replace(word,' '.join([wordnet_lemma.lemmatize(w, pos = 'n') for w in words]))

# print (data['lemma_purpose'].value_counts())


queries = data['purpose']
data['new_purpose'] = data['purpose']

                                                      
for query in queries:
    if 'hous' in query:
        data['new_purpose'] = data['new_purpose'].replace(query,'Buying a house')
        
    elif 'wedd' in query:
        data['new_purpose'] = data['new_purpose'].replace(query,'Wedding') 
        
    elif 'car' in query:
        data['new_purpose'] = data['new_purpose'].replace(query,'Car')
        
    elif 'educ' in query or 'univer' in query:
        data['new_purpose'] = data['new_purpose'].replace(query,'Education')
        
    elif 'property' in query or 'estate' in query:
        data['new_purpose'] = data['new_purpose'].replace(query,'Investment')        
   
        
        
print (data['new_purpose'].value_counts())

Investment        6983
Car               4300
Education         4002
Buying a house    3797
Wedding           2316
Name: new_purpose, dtype: int64

### Analyse the data

- Is there a relation between having kids and repaying a loan on time?

In [20]:
#calculate default rate per amount of kids groups

data_pivot = data.pivot_table(index=['children'], values=['debt'],  aggfunc=[len,sum])

data_pivot['default_rate'] = data_pivot['sum'] / data_pivot['len']

print (data_pivot)

#print (data_pivot.corr())

            len     sum default_rate
           debt    debt
children
-1           47     1.0     0.021277
 0        14043  1063.0     0.075696
 1         4803   444.0     0.092442
 2         2049   194.0     0.094680
 3          330    27.0     0.081818
 4           41     4.0     0.097561
 5            9     0.0     0.000000
 20          76     8.0     0.105263

### Conclusion

We can see a clear correlation between number of children to a higher default rate.
- Even if for the '5 children' group we have no defaults, a sample of 9 is too small to draw conclusions.
- Keep in mind we ignore the '-1 children' group - they doesn't make sense but the rest of the data in those rows looks complete so we chose not to get rid of it.

- Is there a relation between marital status and repaying a loan on time?

In [21]:
data_pivot = data.pivot_table(index=['family_status'], values=['debt'],  aggfunc=[len,sum])

data_pivot['default_rate'] = data_pivot['sum'] / data_pivot['len']

print (data_pivot)

                     len    sum default_rate
                    debt   debt
family_status
civil partnership   4142  388.0     0.093675
divorced            1194   85.0     0.071189
married            12296  931.0     0.075716
unmarried           2809  274.0     0.097544
widow / widower      957   63.0     0.065831

### Conclusion

We do see a difference and correlation between marital status and default rate. Widows are less likley to default on their loan. Next, we have the divorced and married groups and then civital partnership and unmarried. 

Just to emphasize, it is evident that an unmarried person has almost 50% higher chance of defalting on a loan than a widow.

- Is there a relation between income level and repaying a loan on time?

In [62]:
# added income level groups so we can actually calculate different default rates per group. 
# Found online some easier ways to cut the data but they required numpy which we do not use so I just did it manually

#sorting the data and reseting the index so we can use it to group into 10 categories
data = data.sort_values(by='total_income', ascending=True).reset_index(drop=True)

#length of the observations
length = data['total_income'].size

#the point in which we decided that observations will go to a different group
tenth = length / 10 

#nested for loops - was a challenge for me to understand how to communicate with the index of a row
for i, row in data.iterrows():
    
    for z in range(10):
        if i >= (length - (z+1)*tenth):
            data.at[i, 'income_level'] = z
            break
    
# at first I did it manually just to see that the logic works:

#     if i > (length - tenth):
#         data.at[i, 'income_level'] = '10%'
#         #row['income_level'] = '10%'
        
#     elif i > (length - 2*tenth):
#         data.at[i, 'income_level'] = '20%'
#         #row['income_level'] = '20%'
        
#     elif i > (length - 3*tenth):
#         data.at[i, 'income_level'] = '30%'
#         #row['income_level'] = '30%'
        
#     elif i > (length - 4*tenth):
#         data.at[i, 'income_level'] = '40%'
#         #row['income_level'] = '40%'
        
#     elif i > (length - 5*tenth):
#         data.at[i, 'income_level'] = '50%'
#         #row['income_level'] = '50%'
        
#     else: data.at[i, 'income_level'] = '0'
        
        
#checking a couple of times to see that it works (after checking head & tail as well):

print (data.sample(10))

       children  days_employed  dob_years            education  education_id  \
3602          0   -5804.653447   40.00000    primary education             3
2695          0  396597.151698   52.00000    bachelor's degree             0
7954          0   -2163.226637   41.00000  secondary education             1
7762          0  328923.448222   57.00000  secondary education             1
8114          1   -1285.872512   35.00000  secondary education             1
13069         0    -183.705474   27.00000  secondary education             1
5454          1  339310.871728   63.00000    bachelor's degree             0
1966          0       0.000000   43.29338  secondary education             1
19119         1  356498.450958   48.00000  secondary education             1
3128          0   -1147.059848   39.00000  secondary education             1

           family_status  family_status_id gender income_type   debt  \
3602   civil partnership                 1      F    business  False
2695             married                 0      F     retiree  False
7954           unmarried                 4      F    business  False
7762             married                 0      M     retiree  False
8114   civil partnership                 1      F    employee   True
13069          unmarried                 4      M    employee  False
5454             married                 0      F     retiree  False
1966             married                 0      F       other  False
19119            married                 0      F     retiree  False
3128   civil partnership                 1      M    employee  False

       total_income                                   purpose  years_employed  \
3602      11368.245                       going to university       15.903160
2695       9057.310                      housing transactions    -1086.567539
7954      17904.071                      getting an education        5.926648
7762      17679.392  transactions with commercial real estate     -901.160132
8114      18093.297                        to become educated        3.522938
13069     25412.388                  real estate transactions        0.503303
5454      14493.847                        housing renovation     -929.618827
1966          0.000                           buy real estate       -0.000000
19119     42456.426       purchase of the house for my family     -976.708085
3128      10373.448       purchase of the house for my family        3.142630

          new_purpose income_level
3602        Education            8
2695   Buying a house            8
7954        Education            6
7762       Investment            6
8114        Education            6
13069      Investment            3
5454   Buying a house            7
1966       Investment            9
19119  Buying a house            1
3128   Buying a house            8

In [63]:
data_pivot = data.pivot_table(index=['income_level'], values=['debt'],  aggfunc=[len,sum])

data_pivot['default_rate'] = data_pivot['sum'] / data_pivot['len']

print (data_pivot)

# print(data_pivot.corr())

               len    sum default_rate
              debt   debt
income_level
0             2139  151.0     0.070594
1             2140  148.0     0.069159
2             2140  179.0     0.083645
3             2140  191.0     0.089252
4             2140  193.0     0.090187
5             2139  180.0     0.084151
6             2140  182.0     0.085047
7             2140  177.0     0.082710
8             2140  165.0     0.077103
9             2140  175.0     0.081776

### Conclusion

We can spot that different income levels do affect the default rate up to a certain point. The top 10% of the observations were the least likely to default, though, the bottom 10% were also less likely to get default than the medium income observations. 
My hypothesis is  that generally speaking, the higher your income the less likely you are to default on a loan and what we see on the data for the lower income tiers could be a result of a much higher barriers into getting a loan in the first place (the historical data could be somehow biased in advance).

- How do different loan purposes affect on-time repayment of the loan?

In [65]:
data_pivot = data.pivot_table(index=['new_purpose'], values=['debt'],  aggfunc=[len,sum])

data_pivot['default_rate'] = data_pivot['sum'] / data_pivot['len']

print (data_pivot)

                 len    sum default_rate
                debt   debt
new_purpose
Buying a house  3797  256.0     0.067422
Car             4300  403.0     0.093721
Education       4002  370.0     0.092454
Investment      6983  526.0     0.075326
Wedding         2316  186.0     0.080311

### Conclusion

It is evident from the data the different loan purpose affects the likelihood of a person to go default on a loan. For instance, a person who takes a loan in order to buy a car or get an education has over 30% higher chance to default their loan compared to someone who takes a loan in order to buy a house.

### General conclusion

It is seen from that data that number of kids, marital status, income level and loan purposes - all affect whether a person is likely to pay a loan in time. That being said, this is just an initial examination of those features and a real model has to take into account the following:
1. More complex scenarios that take into account the affect on one parameter on the other - e.g. a younger widow vs older widow or how having more kids affects based on different locations. 
2. Different types of default, it could be that the higher your income the lower your change to go default, but once you go default it puts the whole bank in a risk. So, do banks lose 10% of their original loan value or maybe 75%?